@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --blue: #7456ed;
  --purple: #b365f3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav .branding img {
  width: 100px;
}

nav div.links {
  display: none;
  gap: 1em;
  align-items: center;
}

nav div.links h5:first-child {
  color: #000;
}

nav div.links h5:hover {
  color: var(--purple);
  cursor: pointer;
}

#nav-menu-btn {
  font-size: 1.5rem;
}

.hero {
  margin: 80px 0;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr;
  grid-template-areas:
    "img"
    "content";
}

.hero img {
  grid-area: img;
  width: 90vw;
}

.hero .content {
  grid-area: content;
  text-align: center;
  padding: 20px;
}

.hero .content button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* default button styles */

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-cta {
  color: #fff;
  background: linear-gradient(to right, var(--blue), var(--purple));
}

/* services */

.services {
  padding: 10px 20px;
}

.services h1 {
  text-align: center;
  margin-bottom: 10px;
}

.service-card img {
  float: left;
  height: 25px;
  margin-right: 8px;
}

.service-card {
  text-align: left;
  margin-top: 15px;
}

/* Pricing cards */

.pricing {
  padding: 20px;
}

.pricing h2 {
  text-align: center;
}

.pricing ul {
  list-style-type: none;
  margin-top: 8px;
}

.pricing-card {
  padding: 20px 30px;
  border: 1px solid #000;
  margin-top: 12px;
  border-radius: 12px;
}

#selected-pricing {
  padding: 20px 30px;
  border: 1px solid #000;
  margin-top: 12px;
  border-radius: 12px;
  position: relative;
}

#selected-pricing .top {
  position: absolute;
  background-color: #242B2E;
  border-radius: 12px;
  color: #fff;
  top: -1px;
  left: -1px;
  right: 0;
  padding: 20px 30px 10px;
}

#selected-pricing ul {
  margin-top: 60px;
}


.pricing li::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 6px;
  background-image: url(./assets/circle-check-white.svg);
}

.pricing .bottom {
  margin-top: 15px;
}

.testimonials {
  padding: 20px;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 10px;
}

.testimonial-cards {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8em;
}

.testimonial-card {
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.banner {
  color: #fff;
  background: linear-gradient(to top right, var(--blue), var(--purple));
}

.banner .left {
  padding: 20px;
}

.banner .right {
  padding: 0 0 20px 20px;
}

.banner .btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

footer {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1.4fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  font-size: .6rem;
}

footer ul {
  list-style-type: none;
}

footer .col1 img {
  width: 50px
}

footer h4,
footer img {
  margin-bottom: 10px;
}

footer .col5 img {
  width: 15px;
}

@media screen and (min-width: 920px) {

  nav {
    padding: 30px 40px;
  }

  nav div.links {
    display: flex;
    font-size: 1.1rem;
    color: #758283;
  }

  #nav-btn {
    margin: 0;
    padding: 8px 12px;
    font-size: 1rem;
  }

  #nav-menu-btn {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img content";
    align-items: center;
    margin: 100px 60px;
  }

  .hero:nth-child(3) {
    grid-template-areas: "content img";
  }

  .hero .content {
    text-align: left;
    padding: 60px;
  }

  .hero img {
    width: 90%;
  }

  .hero .content button {
    display: inline;
  }
}